*{
    padding: 0;
    margin: 0;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    transition: width 1s ease;
}

.put-aside {
    width: 80%;
    background: white;
    height: 100vh;


}

a{
    text-decoration: none;
}

.put-aside1{
    padding-top: 7vh;
}

.put-aside1 a{
    margin: auto;
    width: 12rem;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    
}

.aside-link {
    font-weight: 700;
    color: #0e4f1f;
    padding-bottom: 0.7rem;
}

.kept {
    padding: 0.5rem ;
    background-color: #ff1b68;
    color: white;
    border-radius: 10px;
}

.kept:hover {
    background: white;
    color: red;
}


.yes-cover{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    transition: width 1s ease;
    height: 100vh;
}

.yes{
    width: 35%;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    background: white;
    padding: 1rem 0;
    margin-top: 20vh;
    

}

.yes-action{
    margin-bottom: 0.2rem;
}

.yes h1{
    padding-bottom: 2rem;
    font-weight: bold;
    font-size: 2em;
}

.yes-link1{
    background: #0e4f1f;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border: 1px solid #0e4f1f;

}

.yes-link2{
    background: red;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border: 1px solid #0e4f1f;
}

.yes-link1:hover{
    background: #18f55e;
}

.yes-link2:hover{
    opacity: 0.6;
}